.bg-pink {
  background-color: $bc-pink;
  position: relative;
}

.splash {
  background-image: url(../images/advantages/splash1x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .splash {
    background-image: url(../images/advantages/splash2x.png);
  }
}

@media screen and (min-width: 480px) {
  .splash {
    max-width: 767px;
    display: none;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .splash {
    }
  }
}

@media screen and (min-width: 768px) {
  .splash {
    display: block;
    max-width: 1600px;

    background-image: url(../images/advantages/desksplash1x.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .splash {
      background-image: url(../images/advantages/desksplash2x.png);
    }
  }
}

.advantage {
  &__subtitle {
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: $second-text-color;
    padding-top: 223px;
    padding-bottom: 15px;
  }

  &__title {
    font-family: $second-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 26px;
  }
  &__cow-image {
    background-image: url(../images/advantages/cow1x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 279px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .advantage__cow-image {
      background-image: url(../images/advantages/cow2x.png);
    }
  }

  @media screen and (min-width: 480px) {
    .advantage__cow-image {
      max-width: 767px;
      height: 339px;
      background-image: url(../images/advantages/tubcow1x.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .advantage__cow-image {
        background-image: url(../images/advantages/tubcow2x.png);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .advantage__cow-image {
      max-width: 1600px;
      height: 516px;
      background-image: url(../images/advantages/deskcow1x.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .advantage__cow-image {
        background-image: url(../images/advantages/deskcow2x.png);
      }
    }
  }

  &__text-first {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: $text-black;
    margin-bottom: 47px;

    width: 220px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &__text-second {
    white-space: wrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: #907e82;

    width: 220px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.made-count {
  padding-bottom: 97px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
  }

  &__list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;

    @media screen and (min-width: 768px) {
      width: 180px;
    }
    @media screen and (min-width: 1280px) {
      width: 330px;
    }
  }

  &__title {
    font-family: Titan One;

    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  &__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.7;
  }
}

.advantage__btn {
  text-align: center;
  border: none;
  width: 176px;
  height: 44px;
  background-color: $white;
  border-radius: 22px;
  font-size: 16px;
  font-family: inherit;
  color: $main-text-color;
  font-weight: 700;
  padding-right: 40px;
  margin-bottom: 19px;
}
