html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

/* Делает картинки блочными */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Сброс типографии */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  padding-top: 15px;
  padding-bottom: 15px;
  //   border-radius: 22px;
  border-style: none;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
