<section>
  <div class="bg-pink">
    <div class="container">
      <h2 class="hidden">Benefits</h2>
      <ul class="benefits">
        <li class="benefits__list">
          <p class="benefits__title benefits__image1">721</p>
          <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="benefits__list">
          <p class="benefits__title benefits__image2">16kg</p>
          <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="benefits__list">
          <p class="benefits__title benefits__image3">84</p>
          <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
