
<section class="contacts">
    <div class="contacts__cards">
        <h2 class="hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <div class="contacts__card">
                <h3 class="contacts__title">Cafe</h3>
                <div class="contacts__content">
                    <span class="contacts_label">Chicago</span>
                    <p class="contacts__text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <ul class="schedule">
                        <li class="schedule__item">
                            <span class="contacts__label">Monday - Friday</span>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <span class="contacts__label">Saturday - Sunday</span>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <p>
                        <a class="contacts__mail" href="tel:+380961111111">+61(0) 383 766 284</a>
                        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </p>
                </div>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__card">
                <h3 class="contacts__title--green">Food track</h3>
                  <div class="contacts__content">
                    <span class="contacts__label">Los Angeles</span>
                    <p class="contacts__text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <ul class="schedule">
                        <li class="schedule__item">
                            <span class="contacts__label">Monday - Friday</span>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <span class="contacts__label">Saturday - Sunday</span>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                        <p>
                           <a class="contacts__mail" href="tel:+380961111111">+61(0) 383 766 284</a>
                           <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </p>
                   </div>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__card">
                    <h3 class="contacts__title">Cafe</h3>
                    <div class="contacts__content">
                        <span class="contacts__label">New York</span>
                        <p class="contacts__text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                        <ul class="schedule">
                            <li class="schedule__item">
                                <span class="contacts__label">Monday - Friday</span>
                                <p class="contacts__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <span class="contacts__label">Saturday - Sunday</span>
                                <p class="contacts__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <p >
                            <a class="contacts__mail" href="tel:+380961111111">+61(0) 383 766 284</a>
                            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</section>

