<section class="contacts section">
    <div class="contacts__div container">
        <h2 class="hidden">Скрытый заголовок</h2>
        
        <ul class="contacts__card">
            <li class="contacts-card">
             <p class="contacts-card__desc">CAFE</p>   

            <li class="contacts-card__title">Chicago</li>
            <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <li class="contacts-card__title">Monday - Friday</li>
            <p class="contacts-card__clok">06:00 AM - 10:00 PM</p>

            <li class="contacts-card__title">Saturday - Sunday</li>
            <p class="contacts-card__clok">08:00 AM - 16:00 PM</p>

            <a class="contacts-card__mail">
                +61(0) 383 766 284 
                noreply@envato.com
            </a>
        </li>
        
            <li class="contacts-card__desc">
            <p class="contacts-card__desc">FOOD TRUCK</p>
        
            <li class="contacts-card__title">Los Angeles</li>
            <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
            <li class="contacts-card__title">Monday - Friday</li>
            <p class="contacts-card__clok">06:00 AM - 10:00 PM</p>
        
            <li class="contacts-card__title">Saturday - Sunday</li>
            <p class="contacts-card__clok">08:00 AM - 16:00 PM</p>
        
            <a class="contacts-card__mail">
                +61(0) 383 766 284
                noreply@envato.com
            </a>
        </li>
        

            <li class="contacts-card__desc">
            <p class="contacts-card__desc">CAFE</p>
        
            <li class="contacts-card__title">New York</li>
            <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
            <li class="contacts-card__title">Monday - Friday</li>
            <p class="contacts-card__clok">06:00 AM - 10:00 PM</p>
        
            <li class="contacts-card__title">Saturday - Sunday</li>
            <p class="contacts-card__clok">08:00 AM - 16:00 PM</p>
        
            <a class="contacts-card__mail">
                +61(0) 383 766 284
                noreply@envato.com
            </a>
        </li>

        <li class="contacts-button">
            <button type="button" class="contacts-button__btn">Our Locations</button>
        </li>

        <li class="contacts-button">
            <button type="button" class="contacts-button__btn">Franchise</button>
        </li>

        </ul>
    </div>

</section>
