<section class="container" id="">
<div class='swiper-container reviews-slider'>
    <ul class='list swiper-wrapper'>
        <li class='swiper-slide'>
            <img class="slider-image" src='../src/images/testimonials1.png'
                 alt='Avatar1">
            <p class='slider-description'>
                <span class='slider-description__underline'>Nullam viverra consectetuer. Quisque cursus et,
                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                    primis in nibh vel risus.</span>
            </p>
            <!-- <div class='slider-dots'>
                <span class='slider-dots__dot'></span>
                <span class='slider-dots__dot'></span>
                <span class='slider-dots__dot'></span>
            </div>
            <p class='slider-title'>
                Emily, Los Angeles
            </p> -->
         </li>
        </ul>
    </div>

</section>