
<section class=" slider  container " >
    <div class="swiper mySwiper">
        <div class="swiper-wrapper" >
            <div class="swiper-slide swiper-container">
                <div class=" container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h2 class="hidden">sliders</h2>
                        <img class="slider-image"
                        src="../src/images/avatar1.png"
                        alt="Avatar1"
                        srcset="../src/images/avatar1x2.png">
                        <p class="slider-description">
                            <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                primis in nibh vel risus.</span>
                        </p>
                        <div class="slider-dots">
                            <span class="slider-dots__dot"></span>
                            <span class="slider-dots__dot"></span>
                            <span class="slider-dots__dot"></span>
                        </div>
                        <p class="slider-title">
                            Emily, Los Angeles
                        </p>
                     </div>
                    </div>
                    </div>
                </div>
            <div class="swiper-slide swiper-container">
                <div class=" container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="slider-image" src="../src/images/avatar1.png" alt="Avatar1"
                                srcset="../src/images/avatar1x2.png">
                            <p class="slider-description">
                                <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                    primis in nibh vel risus.</span>
                            </p>
                            <div class="slider-dots">
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                            </div>
                            <p class="slider-title">
                                Emily, Los Angeles
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-container">
                <div class=" container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="slider-image" src="../src/images/avatar1.png" alt="Avatar1"
                                srcset="../src/images/avatar1x2.png">
                            <p class="slider-description">
                                <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                    primis in nibh vel risus.</span>
                            </p>
                            <div class="slider-dots">
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                            </div>
                            <p class="slider-title">
                                Emily, Los Angeles
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>