<header class="page-heager">
  <nav class="main-nav">
    <a href="#" class="logo">
      <img src="" alt="" />
    </a>
    <ul>
      <li class="main-nav__item">
        <a href="" class="main-nav__link"></a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link"></a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link"></a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link"></a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link"></a>
      </li>
    </ul>
  </nav>
  <button type="button"></button>
</header>
