<section class="bgc-hero">
  <div class="hero-section container">
    <div class="hero__block-first">
      <div>
        <h1 class="hero__title">
          ice cream <br />
          made with <br />
          <span class="hero__title-piece">passion</span>
        </h1>
        <a href="#products" class="button-hero">Products</a>
        <a href="#advantages" class="button-hero button-hero--reverse">How it’s made?</a>
      </div>
      <div class="amount-thumb">
        <p class="amount">16<br /></p>
        <p class="amount-thumb__names">cafes</p>
        <p class="amount">23<br /></p>
        <p class="amount-thumb__names">food trucks</p>
      </div>
    </div>

    <div class="hero__circle"></div>
    <img
      class="hero__image"
      src="../src/images/ice-cream-hero.png"
      alt="ice cream"
      srcset="../src/images/ice-cream-hero.png 1x, ../src/images/ice-cream-hero2x.png 2x"
    />
    <img
      class="hero__image-second"
      src="../src/images/woman-hero.png"
      alt="woman licks ice cream"
      srcset="../src/images/woman-hero.png 1x, ../src/images/woman-hero2x.png 2x"
    />
    <div class="hero__block-second">
      <img
        class="hero__image-milk"
        src="../src/images/milk-hero.png"
        alt="jar with milk"
        width="188"
        height="191"
        srcset="../src/images/milk-hero.png 1x, ../src/images/milk-hero2x.png 2x"
      />
      <div class="description-thumb">
        <p class="description-thumb__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="description-thumb__button">&xrarr;</button>
      </div>
    </div>
  </div>
</section>
