<section class="hero-section container">
  <div class="hero__block-first">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title-piece">passion</span>
    </h1>
    <a href=""></a>
    <a href=""></a>
  </div>

  <div class="hero__circle"></div>
  <img class="hero__image" src="../src/images/ice-cream-hero.png" alt="" />

  <div class="">
    <a href=""></a>
    <div>
      <p></p>
      <button type="button" class="button-hero">Products</button>
      <button type="button" class="button-hero button-hero--reverse">How it’s made?</button>
    </div>
  </div>
  <div>
    <a href=""></a>
    <div>
      <span></span>
      <span></span>
      <a href=""></a>
    </div>
  </div>
</section>
